<html>
<head>
    <title><%=entry.title%></title>
    <%- include('header.ejs') %>
</head>

<body>
<div id="mainpanel">
<hl><%entry.title%></hl>

<%=entry.body%>

<br/><br/>
(<a href="edit">Edit</a> | <a href="delete">Delete</a>)
</div>

<%- include('navbar.ejs') %>

</body>

</html>