<html>

<head>
    <title>Frogs</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>

<body>

<div id="mainpanel">
    <h1><%= count %> Are Frogs God's Greatest Creation? Prolly not but look:</h1>
    <ol>
        <li>1. Petting Froge</li>
        <li>2. Frog Meeting</li>
        <li>3. Frog vs. Leaf Blower</li>
        <li>4. Frog with Cowboy Hat</li>
        <li>5. Frog Jump</li>
    </ol>
</div>
    <%- include('navbar.ejs') %>
</body>
</html>