<html>

<head>
    <title>Anura</title>
    
    <%- include('header.ejs') %>
</head>

<body>

<div id="mainpanel">
    Anura is the scientific name for Frog. Take a look at them <a href="/Frogs">Funny Frogs List (TOP SECRET)</a>.
</div>

    <%- include('navbar.ejs') %>
</body>
</html>