  
<html>

    <head>
        <title>Welcome back</title>
        <%- include('header.ejs') %>
    </head>
    
    
    <body>
    
        <div id="mainpanel" style="text-align: center">
    
            <h1>Welcome back</h1><br/><br/>
            <form action="login" method="post">
            <h3><i>Name:</i> <input type="text" name="username" /></h3>
            <h3><i>Password:</i> <input type="password" name="password" /></h3>
                <br/><button type="submit">Log in</button>
            </form>
    
            <br/><br/>
            <a href="/register">I'm new here!</a>
            
    
        </div>
    
        <%- include('navbar.ejs') %>
    </body>
    </html>