    <div id="navbar">
    <a href="/">Home</a> &diam;
    <a href="/Frogs">Funny Frogs List</a> &diam;
    <a herf="/blog/">Blog</a> &diam;
    <span id ="navwelcome"></span> 
    </div>

        
        <script>
        

        $(function() {
            var name = "<%=data.username %>";
            var greetNewcomer = "   <input type='text' /><button type='submit'>Tell me your name</button>"

            const sayYourName = function() {
                var visitorName = $('#navwelcome > input').val();
                var visitorName = $('#navwelcome > input').val();
                     $.ajax({
                         url: 'welcome',
                         type: 'POST',
                         data: {
                             'nombre': visitorName
                         },
                         Success: (data) => {
                             if(data=='Success') $('#navwelcome').html("Welcome, "+visitorName+"!");
                         }
                     });
                    }
            if(name=="") {
                 $('#navwelcome').html(greetNewcomer);
                 $('#navwelcome > button').on('click', sayYourName);
                 $('#navwelcome > input').on('keyup', (key) => {
                    if(key.keyCode==13) sayYourName();   
                 });
            }
            else {
                $('#navwelcome').html("Welcome, "+name+"!");
            }
        });
        </script>