#navbar {
    background-color: green;
    position: absolute;
    top: 2px;
    right: 16px;
}

#mainpanel {
    position: absolute;
    top: 20px;
    right: 20%;
    left: 20%;
}

form {
    margin: 0px
}